
/* HEADER */
.acorn{
  width: 4vw;
}

.tree{
width: 4vw;
}

/* CONTACT */
#contactForm{
text-align: center;
justify-content: center;
}

#contactbtn{
margin: 20px;
}

/* ABOUT */

.aboutHeadlines{
text-align: center;
justify-content: center;

}



/* BANNER */
.bannertext{
text-align: center;
background-color: #e3af71;
padding: 50px;
}

/* LOGIN FORM */

.logincard{
text-align: center;
justify-content: center;
border: 10px;
}

.loginform{
text-align: center;
justify-content: center;
padding: 50px;
background-color: #CAB2F8;
}

.loginbtn{
padding: 5px;
}

/* AUTH */



/* LOGOUT BUTTON COLUMN */
.logoutBtnRow {
  margin: 20px;
  justify-content: center;
}

/* USER HOMEPAGE */
.fas{
  color: red;

}

.treeIcon {
  max-width: 50%;
  
}
.my-auto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeCard {
  justify-content: center !important;
  text-align: center !important;
}

/* CREATE ANNOUNCEMENT */
.msgMeBtn{
background-color:  #CAB2F8;
}

/* POETRY CARD SORT RESULTS */

.poemContainer {
flex-direction: row;  
flex-wrap: wrap;
justify-content: space-evenly space-around center;
}

#like {
  font-size: 1em;
  color: red;
  
}

.btn-circle {
  background-color: red !important;
  width: 40px;
  height: 40px;
  padding: 10px 16px;
  margin-right: 5px;
  border-radius: 20px !important;
  font-size: 24px;
  line-height: 1.33;
}



/* .btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
} */

/* FOOTER */

.footer{
text-align: center;
background-color: #a2c6bb;
justify-content: center;
padding: 50px;
}
