
/* HEADER */
.acorn{
  width: 4vw;
}

.tree{
width: 4vw;
}

.poetreeText{
  font-family: 'Londrina Solid', cursive;
  font-size: 2em;
  margin-right: 10px;
}

.navlogo {
  max-width: 30%;
}

.headerTxt {
  font-family: 'Londrina Solid', cursive;
  font-family: 'Montserrat', sans-serif;
}
/* .navbarbrand {
  display: flex;
  align-items: center;
} */
/* .navbarbrand>img {
  padding: 7px 14px;
} */

/* BANNER */

.bannerTxt {
  color: white;
  font-family: 'Londrina Solid', cursive;
 font-family: 'Montserrat', sans-serif;
}
/* LOGIN HOMEPAGE */
.treeIconHome {
  max-width: 80%;
  opacity: 50%;
}

.treeCol {
  justify-content: center;
}

/* CONTACT */
#contactForm{
text-align: center;
justify-content: center;
}

#contactbtn{
margin: 20px;
}

/* ABOUT */

.aboutHeadlines{
text-align: center;
justify-content: center;

}



/* BANNER */
.bannertext{
text-align: center;
background-color: #e3af71;
padding: 50px;
}

/* LOGIN FORM */

.logincard{
text-align: center;
justify-content: center;
border: 10px;
}

.loginform{
text-align: center;
justify-content: center;
padding: 50px;
background-color: #CAB2F8;
}

.loginbtn{
padding: 5px;
}

.authbtn {
  text-align: center;
justify-content: center;
}

/* AUTH */



/* LOGOUT BUTTON COLUMN */
.logoutBtnRow {
  margin: 20px;
  justify-content: center;
}

/* USER HOMEPAGE */
.fas{
  color: red;

}

.treeIcon {
  max-width: 50%;
}
.my-auto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeCard {
  justify-content: center !important;
  text-align: center !important;
  font-family: 'Londrina Solid', cursive;
  
}

/* CREATE ANNOUNCEMENT */
.msgMeBtn{
background-color:  #CAB2F8;
}

/* POETRY CARD SORT RESULTS */

.poemContainer {
flex-direction: row;  
flex-wrap: wrap;
justify-content: space-evenly space-around center;
}

#like {
  font-size: 1em;
  color: red;
  
}

.poemCard {
  margin: 3%;
}

.btn-circle {
  background-color: red !important;
  width: 40px;
  height: 40px;
  padding: 10px 16px;
  margin-right: 5px;
  border-radius: 20px !important;
  font-size: 24px;
  line-height: 1.33;
}

/* CREATE POETRY CARD */

.createPoetryCard {
  padding: 10%;
  margin-top: 5%;
  margin-bottom: 20%;
  margin-left: 20%;
  margin-right: 20%;
  background-color:  #CAB2F8;
}

.headerTxtHaiku {
  font-family: 'Londrina Solid', cursive;
 font-family: 'Montserrat', sans-serif;
 
}




.footer{
text-align: center;
background-color: #a2c6bb;
justify-content: center;
padding: 50px;
}

.footerTxt {
  color: white;
}

/* MY POETRY SORT RESULTS */

.myPoetryTitleRow {
  justify-content: center;
  margin-top: 5%;
}

.myPoetrybtn {
  margin: 2%;
}

/*  ALL POETRY SORT RESULTS */

.allPoetryTitleRow {
  justify-content: center;
  margin-top: 5%;
}

.allPoetrybtn {
  margin: 2%;
}

/* MENU */

.menuTitles {
  font-family: 'Londrina Solid', cursive;
}